<?xml version="1.0" encoding="UTF-8"?>
<project relativePaths="false" version="4">
  <component name="LogSupport">
    <option name="logConfigurations">
      <ProjectLogConfigurations>
        <option name="defaultLogConfiguration">
          <DefaultLogConfiguration>
            <option name="conditionFormat" value="block" />
            <option name="conditionalLogLevels">
              <set>
                <option value="trace" />
                <option value="debug" />
              </set>
            </option>
            <option name="defaultFrameworkName" value="android-util-log" />
          </DefaultLogConfiguration>
        </option>
      </ProjectLogConfigurations>
    </option>
  </component>
</project>

